<div id="notification-area">
  <% if notice %>
  <div class="ui message">
    <p><%= notice %></p>
  </div>
  <% end %>
  <% if alert %>
  <div class="ui message">
    <p><%= alert %></p>
  </div>
  <% end %>
</div>