<div id="site-index-content">
  <div class="ui container">
    <div class="tagline">
      <h1>We log your <span>Ping&nbsp;Pong</span> games while you sit back relax</h1>
      <%= link_to 'Sign up now!', new_user_registration_path, class: 'massive ui blue button' %>
    </div>
  </div>
</div>